[submodule "human-and-computer-interaction/hci1"]
	path = human-and-computer-interaction/hci1
	url = https://github.com/kennytangg/HCI_LAB.git
[submodule "human-and-computer-interaction/hci2"]
	path = human-and-computer-interaction/hci2
	url = https://github.com/kennytangg/HCI_LAB2.git
[submodule "human-and-computer-interaction/hci3"]
	path = human-and-computer-interaction/hci3
	url = https://github.com/kennytangg/HCI_LAB3.git
[submodule "web-application-development-and-security/lab-week1"]
	path = web-application-development-and-security/lab-week1
	url = https://github.com/kennytangg/kenny-2802517733-L4AC-WADS_Week1.git
[submodule "web-application-development-and-security/lab-week3"]
	path = web-application-development-and-security/lab-week3
	url = https://github.com/kennytangg/todo-list-app.git
[submodule "web-application-development-and-security/lec-week5"]
	path = web-application-development-and-security/lec-week5
	url = https://github.com/kennytangg/assignment-log-book-app
